<a href="https://colab.research.google.com/github/ch00226855/CMP414765Spring2022/blob/main/HW3_KNNAndLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3

In this homework assignment, we will further explore the **k-nearest-neighbor (kNN)** model for classification and the **linear regression** model for regression tasks.

Please submit your solutions as a PDF file to Blackboard by **Wednesday, March 16th at 11:59 PM**.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Part 1: kNN Method
Evaluate the kNN method with $k=1, 5, 25$  on the dataset used in Week 3 notebook.

In [2]:
url = "https://raw.githubusercontent.com/empathy87/The-Elements-of-Statistical-Learning-Python-Notebooks/master/data/mixture.txt"
data = pd.read_csv(url)
data.head()

         x1        x2  y
0  2.526093  0.321050  0
1  0.366954  0.031462  0
2  0.768219  0.717486  0
3  0.693436  0.777194  0
4 -0.019837  0.867254  0

1. Split the data into 80% training data and 20% test data.

2. Train a kNN model with $k=1$ on the training data, and calculate its prediction accuracy on the test data.

3. Train a kNN model with $k=5$ on the training data, and calculate its prediction accuracy on the test data.

4. Train a kNN model with $k=50$ on the training data, and calculate its prediction accuracy on the test data.

5. Which k value give the best accuracy score? Can you explain why?

Answer:

## Part 2: Linear Regression

Train a linear regression model using the normal equation and verify that the results coincide with the results from `sklearn`.

We will use the advertisement revenue data used in Week 5 and build a linear regression model on `radio` and `sales`.

In [3]:
url = "https://www.statlearning.com/s/Advertising.csv"
advertising = pd.read_csv(url, index_col=0)
advertising.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

1. Split the data into 85% training data and 15% test data.

2. Build a linear regression model that predicts `sales` with the `radio` feature using `sklearn`. Display the model parameters and its test MSE.

3. Calculate the parameter values with the normal equation. These values should be the same as the values shown in Step 2.